// COLORS

$color__primary: #5DC4C6;
$color__primary--light: #96D9DA;
$color__white: #ffffff;
$color__white--transparent: rgba($color__white, .5);
$color__gray--light: #cccccc;
$color__gray--dark: #333333;

// SPACING (PADDING + MARGIN)

$spacing--base: 1rem;
$spacing--s: $spacing--base / 2;
$spacing--l: $spacing--base * 2;

// FONT FAMILY

$font-family--base: 'Open Sans', sans-serif;
$font-family--light: 'Raleway', sans-serif;

// FONT SIZE

$font-size--base: 1rem;
$font-size--s: $font-size--base / 2;
$font-size--m: $font-size--base * 1.3;
$font-size--l: $font-size--base * 2;

// BREAKPOINTS

$breakpoint--base: 25rem;
$breakpoint--s: $breakpoint--base / 2;
$breakpoint--m: $breakpoint--base * 1.3;
$breakpoint--l: $breakpoint--base * 2;

// BORDER RADIUS

$border-radius--base: 5px;

// TRANSITIONS

$transition__speed--base: .3s;
